%h1 Gamers

%table
  %tr
    %th Name
    %th Handle
    %th
    %th
    %th

    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.handle
        %td= link_to 'View Profile', user
        %td= link_to 'Edit Profile', edit_user_path(user)
        %td= link_to 'Delete User', user, :method => 'delete', :data => {:confirm => "Are you sure?"}